html, body {
    overflow: hidden;    
}

.container {
    /* width: 6000px; */
    display: flex;
}

canvas {
    margin-right:-5px;
    margin-left:-5px;
    padding:0px;
    vertical-align: bottom;
}